<h1>Show post</h1>

<h3><%= @post.title %></h3>
<p><%= @post.content %></p>

<%= link_to "Load Post Comments", post_comments_path(@post), class: "load_comments" %>
<br>
<br>
<div id="comments-div">comments load here...</div>
<br>
<%= link_to "Edit", edit_post_path(@post) %>

<hr>
<h3>ajax comments here: </h3>
<div id='comments-area'></div>
<hr>
<h3>rails comments: </h3>
<% @post.comments.each do |comment| %>
	<p><%= comment.content %></p>
<% end %>