<h1>Post show page</h1>
<%= link_to "Edit Post", edit_post_path(@post) %> |
<%= link_to "RailsNewComment", new_post_comment_path(@post) %> |
<%= link_to "AjaxNewComment", post_path(@post) %>
<hr>

<fieldset>
	<h3>
		<%= @post.title %>
	</h3>
	<p>
		<%= @post.content %>
	</p>
	<h3>rails comments: </h3>
	<% @post.comments.each do |comment| %>
	<p>
		<%= comment.content %>
	</p>
	<% end %>
</fieldset>
<br>
<br>

<h3>AJAX loads custom Rails partial(html retrieved from Rails server):</h3>
<fieldset>
	<%= link_to "Ajax: Load Comments", post_comments_path(@post), class: "load_comments" %>
	<br>
	<div id="comments-html-area">ajax html comments here: </div>
	<br>
</fieldset>

<h3>AJAX loads JSON from Rails route/controller/action/model (JSON retrieved from Rails server):</h3>
<fieldset>
	<%= link_to "Ajax: Load Comments", post_comments_path(@post), class: "load_comments" %>
	<br>
	<div id="comments-json-area">ajax json comments here: </div>
	<br>
</fieldset>