<!DOCTYPE html>
<html>
  <head>
	<title>Ajaxblog</title>



	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application', 'posts' %>

	</head>
		
		<body>
 
		<%= link_to "All Posts", posts_path %> |
		<%= link_to "Rails:NewPost", new_post_path %> |
		<%= link_to "Ajax:NewPost", new_post_path, class: 'ajax-new-post' %>
 
		<hr>
		
		<div id="flash_messages" class="flash_style">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, :class => "flash #{key}") %>
			<% end %>
		</div>

		<%= yield %>
	
	</body>
</html>
